@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   font-family: 'Manrope';
}

#modal::-webkit-scrollbar {
   width: 10px;
   background-color: #f9f9fd;
}

#modal::-webkit-scrollbar-thumb {
   border-radius: 10px;
   background-color: #18aaaa;
}

#modal::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
   border-radius: 10px;
   background-color: #f9f9fd;
}
